// Main



.list-workspace
  margin: auto
  width: 80%
  background-color: rgb(255, 255, 255)

.list-title
  width: 90%
  border: 0
  font-size: 3rem
  font-weight: 100
  padding-left: 5rem
  padding-top: 1.5rem
  

.list-foot
  width: 100%
  display: inline-block
  border-top: 1px solid rgba(128, 128, 128, 0.4)
  font-size: 0
  padding: 1rem 0 1rem 0


.list-foot__text
  display: inline-block
  font-size: 1.9rem
  font-weight: 100
  padding: 0 1rem 0 1rem
  margin: 0
  color: rgb(153, 153, 153)

.left-foot
  display: inline-block
  width: 25%


.center-foot
  display: inline-block
  text-align: center
  width: 50%


.right-foot
  text-align: center
  display: inline-block
  width: 25%
